 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #222;
}

#body{
    background: #222;
}

#button{
    background: #222;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    border-color: transparent;
    font-size: 2em;
    border-radius: 0;
    transition: 1s;
}

#button:hover{
    background-color: gray;
    transition: 1s;
}

h1, h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
/*    font-family: 'Raleway', sans-serif;*/
}

h1 {
    border-bottom: 1.5px solid;
}

ul
{
    display: table;
    table-layout: fixed;
    width: 100%;
}

li{
    display: table-cell;
    text-align: center;
}

a{
    color: white;
    font-family: 'Raleway', sans-serif;
    border-bottom-color: transparent;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.jumbotron{
    width: 100%;
}

#name{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 6em;
}

#jumbo{
    background-color: transparent;
    border-color: transparent;
}