 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #222;
}

body {
    display: table;
    font-family: 'Raleway', sans-serif;
}

.my-block {
    text-align: right;
    vertical-align: right;
    display: table-cell;
}

h1, h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
	font-size: 24px;
}

h2 {
    font-size: 12px;
}

h3{
	font-family: 'Lobster', cursive;
/*    font-family: "Times New Roman", Times, serif;*/
}

p{
	font-family: 'Raleway', sans-serif;
}

li{
    display: inline;
}

.jumbotron{
    background: #222;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
